### 01.리스트가 다음과 같이 주어질 때,
### for문을 이용하여 값들을 각각 출력하세요.

In [24]:
a = ['철수', '명수', '민수']
for i in a:
    print(i)

철수
명수
민수

### 02.리스트가 다음과 같이 주어질 때,
### for문을 이용하여 합격 통보 프로그램을 만드세요.
### (70점 초과자만 합격)

In [29]:
a = [60, 90, 80, 55, 59]

num = 0
for i in a:
    num += 1
    if i > 70:
        print('{}번 학생은 합격입니다.'.format(num))
    else:
        print('{}번 학생은 불합격입니다.'.format(num))

1번 학생은 불합격입니다.
2번 학생은 합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 불합격입니다.

### 03.리스트가 다음과 같이 주어질 때, 
### for문과 enumerate함수를 이용해서 예시와 같이 출력하세요.
<pre>
예시:
1번 학생은 반장입니다.
2번 학생은 부반장입니다.
3번 학생은 서기장입니다.

In [27]:
a = ['반장', '부반장', '서기장']
for i, j in enumerate(a):
    print('{}번 학생은 {}입니다.'.format(i+1,j))

1번 학생은 반장입니다.
2번 학생은 부반장입니다.
3번 학생은 서기장입니다.

### 04.리스트가 다음과 같이 주어질 때,
### for문과 enumerate함수를 이용해서 합격통보 프로그램을 만드세요.
### (70점 초과자만 합격)

In [30]:
list1 = [70, 90, 50, 80, 100]
for i, j in enumerate(list1):
    if j > 70:
        print('{}번 학생은 합격입니다.'.format(i+1))
    else:
        print('{}번 학생은 불합격입니다.'.format(i+1))

1번 학생은 불합격입니다.
2번 학생은 합격입니다.
3번 학생은 불합격입니다.
4번 학생은 합격입니다.
5번 학생은 합격입니다.

### 05.리스트가 다음과 같이 주어질 때,
### continue를 이용하여 합격자만 출력되는 합격통보기를 만드세요.
### (70점 초과자만 합격)

In [31]:
list2 = [40, 60, 80, 90, 70]
for i, j in enumerate(list2):
    if j < 70:
        continue
    print('{}번 학생은 합격입니다.'.format(i))

2번 학생은 합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.

### 06.range함수를 이용하여 1~20까지 담은 리스트를 만드세요.

In [32]:
list3 = list(range(1,21))
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### 07. for문을 이용하여 1부터 15까지의 합을 구하세요.

In [33]:
result = 0
for i in range(1,16):
    result += i
  
print(result)

120

### 08. len함수를 이용하면 리스트의 길이를 알 수 있습니다.
### len함수와 range함수를 이용하여 다음 리스트의 합격 통보기를 만드세요.
### (70점 초과자만 합격)

In [36]:
list3 = [65, 80, 50, 90, 100, 70, 85, 90]
for i in range(len(list3)):
    if list3[i] > 70:
        print('{}번 학생은 합격입니다.'.format(i+1))

2번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 합격입니다.
7번 학생은 합격입니다.
8번 학생은 합격입니다.

### 09. 구구단의 3단 부터 7단 까지를 출력하세요.

In [9]:
for i in range(2, 8):
  for j in range(1, 10):
    print(i * j, end = "") 
  print()

24681012141618
369121518212427
4812162024283236
51015202530354045
61218243036424854
71421283542495663

### 10. for문을 이용해서, 주어진 리스트의 값들에 7을 곱한 새로운 리스트 list1을 만드세요.

In [10]:
z=[1,3,5,7]
list1 = [i * 7 for i in z]
print(list1)

[7, 21, 35, 49]

### 11. 리스트 내포(list comprehension)를 이용해서 10번을 푸세요.

In [11]:
z=[1,3,5,7]
list1 = [i * 7 for i in z]
print(list1)

[7, 21, 35, 49]

### 12. 다음 리스트에서 홀수에만 2를 곱하여 새로운 리스트 list1을 만드세요.

In [12]:
q=[1,2,3,4]
list1 = [i*2 if i%2==1 else i for i in q]
print(list1)

[2, 2, 6, 4]

### 13.구구단을 리스트 내포로 출력하세요.

In [13]:
result = [i*j for i in range(2,10)
         for j in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 14.주어진 리스트의 값에서 3의 배수에만 3을 곱해서 새로운 리스트 list4를 만드세요.

In [14]:
a = list(range(10))
list4 = [i*3 if i%3==0 else i for i in a]
print(list4)

[0, 1, 2, 9, 4, 5, 18, 7, 8, 27]

### 15. 학급의 학생 점수가 다음의 리스트로 주어질 때,
### for문을 이용해 학급 평균을 구하세요.

In [15]:
a = [80, 90, 70, 60, 80, 85, 95, 100, 40, 65, 75]

sum = 0
for i in a:
    sum += i
    num = int(len(a))
average = sum / num
print('%0.2f' %average)

76.36

### 16.2~50까지 더한 값을 구하세요.

In [16]:
sum = 0
for i in range(2, 51):
    sum += i
print(sum)

1274

### 17. 1~100까지 수를 출력하되, 5의 배수에서는 '5의 배수'가 출력되게 하세요.

In [17]:
list_5 = ['5의 배수' if i%5==0 else i for i in range(1, 101)]
print(list_5)

[1, 2, 3, 4, '5의 배수', 6, 7, 8, 9, '5의 배수', 11, 12, 13, 14, '5의 배수', 16, 17, 18, 19, '5의 배수', 21, 22, 23, 24, '5의 배수', 26, 27, 28, 29, '5의 배수', 31, 32, 33, 34, '5의 배수', 36, 37, 38, 39, '5의 배수', 41, 42, 43, 44, '5의 배수', 46, 47, 48, 49, '5의 배수', 51, 52, 53, 54, '5의 배수', 56, 57, 58, 59, '5의 배수', 61, 62, 63, 64, '5의 배수', 66, 67, 68, 69, '5의 배수', 71, 72, 73, 74, '5의 배수', 76, 77, 78, 79, '5의 배수', 81, 82, 83, 84, '5의 배수', 86, 87, 88, 89, '5의 배수', 91, 92, 93, 94, '5의 배수', 96, 97, 98, 99, '5의 배수']

### 18. 3~52까지의 숫자를 출력하되 3의 배수에서는 'Fizz'가, 4의 배수에서는 'Buzz'가, 공배수에서는 'FizzBuzz'가 출력되게 하세요.

In [18]:
FizzBuzz = ['Fizz' * (not i%3) + 'Buzz' * (not i%4) or i for i in range(3, 53)]
print(FizzBuzz)

['Fizz', 'Buzz', 5, 'Fizz', 7, 'Buzz', 'Fizz', 10, 11, 'FizzBuzz', 13, 14, 'Fizz', 'Buzz', 17, 'Fizz', 19, 'Buzz', 'Fizz', 22, 23, 'FizzBuzz', 25, 26, 'Fizz', 'Buzz', 29, 'Fizz', 31, 'Buzz', 'Fizz', 34, 35, 'FizzBuzz', 37, 38, 'Fizz', 'Buzz', 41, 'Fizz', 43, 'Buzz', 'Fizz', 46, 47, 'FizzBuzz', 49, 50, 'Fizz', 'Buzz']

### 19. 다음 튜플을 for 문을 이용해서 리스트 list1으로 만드세요.

In [19]:
z=(2,4,6,8,10)
list1 = []
for i in z:
    list1.append(i)
print(list1)

[2, 4, 6, 8, 10]

### 20. 다음 딕셔너리에서 키 값만 출력하세요.

In [20]:
dict = {'철수':2, '용민':4, '민호':8, '정훈':2}
print(dict.keys())

dict_keys(['철수', '용민', '민호', '정훈'])

### 21. 다음 딕셔너리에서 value 값만 출력하세요.

In [21]:
dict = {'철수':2, '용민':4, '민호':8, '정훈':2}
print(dict.values())

dict_values([2, 4, 8, 2])

### 22.다음 딕셔너리에서 key값과 value값을 같이 출력하세요.

In [22]:
dict = {'철수':2, '용민':4, '민호':8, '정훈':2}
print(dict.items())

dict_items([('철수', 2), ('용민', 4), ('민호', 8), ('정훈', 2)])