In [0]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.6/dist-packages (1.2.1)

In [0]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd

In [0]:
# 인사말, 초기 가이드
def hello():
  print('안락한 내 집의 꿈! 오늘부터 이뤄볼까요?')
def guide():
  print('초기 가이드 설명 이러쿵 저러쿵')

In [0]:
# 사용자에게 전월세 인풋값 받기
def choice():
  choice1_dict = {'1' : '전세', '2' : '월세'}
  choice2_dict = {'1' : '풀옵션', '2' : '주차 가능', '3' : '엘레베이터 O',
                  '4' : '애완동물 동반 가능', '5' : '상관없음'}
  choice1 = ['1. 전세 , 2. 월세']
  choice2 = ['1. 풀옵션', '2, 주차 가능' '3, 엘레베이터 O','4. 애완동물 동반 가능', 
             '5. 상관없음']

  print(choice1)
  jeon_wol_se = choice1_dict['2']
  # jeon_wol_se = choice1_dict[input("전세로 구할 건가요? 월세로 구할 건가요?\n ->")]

  print(choice2)
  jeon_wol_options = '1 2 3'
  # jeon_wol_options = input("가장 필요한 옵션 3가지를 숫자로 적어주세요. (ex : 1 3 2) \n ->")
  jeon_wol_options = jeon_wol_options.split()
  # jeon_wol_options = [choice2_dict[i] for i in jeon_wol_options.split()]
  result = [jeon_wol_se, jeon_wol_options]
  
  if len(result[1]) != 3:
    result = '3가지를 선택하셨나요?\n선택하신 번호를 띄어쓰기로 구분해서 입력해주세요.'
  return result

In [0]:
# 전세일경우 보증금값 입력
def jeon_wol_cho(cho):
  if cho[0] == '전세':
    junse_money1 = int(input("전세 보증금 한도를 입력해주세요. 단위는 만원 입니다.(ex 1억: 10000) \n ->"))
    junse_money2 = 1000
    result = [junse_money1,junse_money2]
  elif cho[0] == '월세':
    wolse_money1 = int(input("월세 보증금 한도를 입력해주세요. 단위는 만원입니다.(ex 1천만원: 1000) \n ->"))
    wolse_money2 = int(input("월세 한도를 입력해주세요. 단위는 만원입니다.(ex : 30) \n ->"))
    result = [wolse_money1,wolse_money2]
  else:
    print('이게 출력되면 이상한데??? 잘못 입력했나?')
  return result

In [0]:
# 인풋값으로 file에서 검색

def sale_searching(money,cho):
  sale_info = pd.read_excel('190915_1136_매물정보.xlsx')
  pd.set_option('display.max_columns', 500)
  # print(sale_info.columns)
  # print(sale_info)
  # ['1. 풀옵션', '2, 주차 가능 O3, 엘레베이터 O', '4. 애완동물 동반 가능']
  op = {'1' : 'options' , '2' : 'parking', '3' : 'elevator', '4' : 'pets'}

  # # 결측값이 있는 columns 확인
  # print(sale_info.isnull().any())
  # 결측값이 있는 columns의 결측값 개수 확인
  # print(sale_info.loc[:,['sales_type', '보증금액', '월세금액', 
  #                        'options','parking','elevator','pets']].isnull().sum())
  
  # print(sale_info.loc[:, [  op[a[1][0]], op[a[1][1]], op[a[1][2]  ]  ]  ])
  # print(sale_info.loc[:, op['1']])
  op1, op2, op3 = op[cho[1][0]], op[cho[1][1]], op[cho[1][2]]
  # print(op1, op2, op3)
  result = sale_info[(sale_info.loc[:,'sales_type'] == cho[0])  &
                     (sale_info.loc[:,'보증금액'] <= money[0]) &
                     (sale_info.loc[:,'월세금액'] <= money[1]) &
                     (sale_info.loc[:,op1] == True) &
                     (sale_info.loc[:,op2] == True) &
                     (sale_info.loc[:,op3] == True) ]
  return result

In [0]:
# 검색값 출력
def sea_output(sale_sea):
  # 검색된 데이터를 함수가 실행될때마다 하나씩 출력하게 하려면...
  # num=0을 주고 
  # 데이터를 저장하고 저장한데이터를 함수를 실행할때마다 하나씩 불러오기
  
  pass

In [0]:
# 위시리스트에 저장

In [0]:
# 위시리스트 보기

In [0]:
hello()
guide()
cho = choice()
money = jeon_wol_cho(cho)

안락한 내 집의 꿈! 오늘부터 이뤄볼까요?
초기 가이드 설명 이러쿵 저러쿵
['1. 전세 , 2. 월세']
['1. 풀옵션', '2, 주차 가능3, 엘레베이터 O', '4. 애완동물 동반 가능', '5. 상관없음']
월세 보증금 한도를 입력해주세요. 단위는 만원입니다.(ex 1천만원: 1000)
 ->3000
월세 한도를 입력해주세요. 단위는 만원입니다.(ex : 30)
 ->50

In [0]:
print(cho)
print(money)

['월세', ['1', '2', '3']]
[3000, 50]

In [0]:
sale_sea = sale_searching(money,cho)

options parking elevator

In [0]:
print(sale_sea.loc[:,['sales_type', '보증금액', '월세금액', 
                     'options','parking','elevator','pets']])
print(len(sale_sea.loc[:,['sales_type', '보증금액', '월세금액', 
                     'options','parking','elevator','pets']]))

In [0]:
num=1
wish_list=[]
while 1:
  print('------------------------------')
  print('num',type(num),num)
  a = sale_sea.loc[num-1:num,['sales_type','보증금액','월세금액','options',
                         'parking','elevator','pets','owner','agent_comment']]
  print('a',type(a),a)
  
  ww = input('0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기\n')
  print('ww',type(ww),ww)
  if len(ww) == 1:
    if ww == '0':
      break
    elif ww == '1':
      num+=1
      continue
    elif ww == '2':
      a = list(a)
      wish_list.append(a)
    elif ww == '3':
      print('wish_list',type(wish_list),wish_list)
      a=[]

------------------------------
num <class 'int'> 1
a <class 'pandas.core.frame.DataFrame'>   sales_type  보증금액  월세금액  options  parking  elevator  pets  owner  \
0         월세   300    38        1        1      True     0    NaN

                                       agent_comment
0  💖 1억원 보증보험에 가입되어 있는 마블공인중개사무소 입니다.\n💖 광고매물이 모두...
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
1
ww <class 'str'> 1
------------------------------
num <class 'int'> 2
a <class 'pandas.core.frame.DataFrame'> Empty DataFrame
Columns: [sales_type, 보증금액, 월세금액, options, parking, elevator, pets, owner, agent_comment]
Index: []
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
1
ww <class 'str'> 1
------------------------------
num <class 'int'> 3
a <class 'pandas.core.frame.DataFrame'>   sales_type  보증금액  월세금액  options  parking  elevator  pets  owner  \
3         월세   200    38        1        1      True     0    NaN

                                       agent_comment
3  ♣위 사진은 직접촬영한사진이며 실매물만 취급하고있습니다\n♣고객님 조건에 맞는방에 ...
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
1
ww <class 'str'> 1
------------------------------
num <class 'int'> 4
a <class 'pandas.core.frame.DataFrame'>   sales_type  보증금액  월세금액  options  parking  elevator  pets  owner  \
3         월세   200    38        1        1      True     0    NaN
4         월세   200    50        1        1      True     0    NaN

                                       agent_comment
3  ♣위 사진은 직접촬영한사진이며 실매물만 취급하고있습니다\n♣고객님 조건에 맞는방에 ...
4  ✔100%실매물/실사진/실가격/실시간 광고등록 헛걸음 안하시게 최대한 노력하겠습니다...
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
3
ww <class 'str'> 3
wish_list <class 'list'> []
------------------------------
num <class 'int'> 4
a <class 'pandas.core.frame.DataFrame'>   sales_type  보증금액  월세금액  options  parking  elevator  pets  owner  \
3         월세   200    38        1        1      True     0    NaN
4         월세   200    50        1        1      True     0    NaN

                                       agent_comment
3  ♣위 사진은 직접촬영한사진이며 실매물만 취급하고있습니다\n♣고객님 조건에 맞는방에 ...
4  ✔100%실매물/실사진/실가격/실시간 광고등록 헛걸음 안하시게 최대한 노력하겠습니다...
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
1
ww <class 'str'> 1
------------------------------
num <class 'int'> 5
a <class 'pandas.core.frame.DataFrame'>   sales_type  보증금액  월세금액  options  parking  elevator  pets  owner  \
4         월세   200    50        1        1      True     0    NaN

                                       agent_comment
4  ✔100%실매물/실사진/실가격/실시간 광고등록 헛걸음 안하시게 최대한 노력하겠습니다...
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
2
ww <class 'str'> 2
------------------------------
num <class 'int'> 5
a <class 'pandas.core.frame.DataFrame'>   sales_type  보증금액  월세금액  options  parking  elevator  pets  owner  \
4         월세   200    50        1        1      True     0    NaN

                                       agent_comment
4  ✔100%실매물/실사진/실가격/실시간 광고등록 헛걸음 안하시게 최대한 노력하겠습니다...
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
2
ww <class 'str'> 2
------------------------------
num <class 'int'> 5
a <class 'pandas.core.frame.DataFrame'>   sales_type  보증금액  월세금액  options  parking  elevator  pets  owner  \
4         월세   200    50        1        1      True     0    NaN

                                       agent_comment
4  ✔100%실매물/실사진/실가격/실시간 광고등록 헛걸음 안하시게 최대한 노력하겠습니다...
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
1
ww <class 'str'> 1
------------------------------
num <class 'int'> 6
a <class 'pandas.core.frame.DataFrame'> Empty DataFrame
Columns: [sales_type, 보증금액, 월세금액, options, parking, elevator, pets, owner, agent_comment]
Index: []
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
1
ww <class 'str'> 1
------------------------------
num <class 'int'> 7
a <class 'pandas.core.frame.DataFrame'> Empty DataFrame
Columns: [sales_type, 보증금액, 월세금액, options, parking, elevator, pets, owner, agent_comment]
Index: []
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
1
ww <class 'str'> 1
------------------------------
num <class 'int'> 8
a <class 'pandas.core.frame.DataFrame'> Empty DataFrame
Columns: [sales_type, 보증금액, 월세금액, options, parking, elevator, pets, owner, agent_comment]
Index: []
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
1
ww <class 'str'> 1
------------------------------
num <class 'int'> 9
a <class 'pandas.core.frame.DataFrame'> Empty DataFrame
Columns: [sales_type, 보증금액, 월세금액, options, parking, elevator, pets, owner, agent_comment]
Index: []
0.그만보기 1. 다음매물보기 2. 위시리스트 저장 3. 위시리스트 보기
1
ww <class 'str'> 1
------------------------------
num <class 'int'> 10
a <class 'pandas.core.frame.DataFrame'>    sales_type  보증금액  월세금액  options  parking  elevator  pets  owner  \
10         월세   200    43        1        1      True     0    NaN

                                        agent_comment
10  ♣위 사진은 직접촬영한사진이며 실매물만 취급하고있습니다\n♣고객님 조건에 맞는방에 ...

KeyboardInterrupt: ignored